.App {
	margin: 50px auto;
	max-width: 70%;
	border: 1px solid lightgray;
	padding: 32px;
}
.App > h1 {
	text-align: center;
}
.faq {
	border: 2px solid black;
	margin: 20px 0px;
	padding: 16px;
}
.question {
	display: flex;
	align-items: center;
	font-weight: 600;
}
.answer {
	color: gray;
	margin: 0px 0px 0px 24px;
}
